version: "3.8"

services:
  localstack:
    container_name: localstack-main
    image: localstack/localstack:latest
    ports:
      - "127.0.0.1:4566:4566"            # LocalStack Gateway
      - "127.0.0.1:4510-4559:4510-4559"  # external services port range
    environment:
      - DEBUG=1
      - PERSISTENCE=1
      - LAMBDA_RUNTIME_ENVIRONMENT_TIMEOUT=120
    volumes:
      - "./.localstack:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"
    healthcheck:
      test: ["CMD", "bash", "-lc", "curl -fsS http://localhost:4566/_localstack/health || exit 1"]
      interval: 5s
      timeout: 3s
      retries: 30
